{% extends "base.html" %}
{% block content %}
    <div style="max-width: 1200px; margin: 2rem auto; padding: 0 1rem;">
        <div class="search-container">
            <h2>Music Analysis Visualizations</h2>
            <div id="ratingPlot" style="height: 400px; margin-bottom: 2rem;"></div>
            <div id="genrePlot" style="height: 500px; margin-bottom: 2rem;"></div>
            <div id="yearPlot" style="height: 400px;"></div>
        </div>
    </div>
    <script src="https://cdn.plot.ly/plotly-2.27.0.min.js"></script>
    <script>
        const ratingData = [{
            x: Array.from({length: 10}, (_, i) => `${i/2}-${(i+1)/2}`),
            y: JSON.parse('{{ rating_dist|tojson|safe }}'),
            type: 'bar',
            marker: {color: '#00b4db'}
        }];

        const genreCounts = JSON.parse('{{ genre_counts|tojson|safe }}');
        const sortedGenres = Object.entries(genreCounts)
            .sort(([,a], [,b]) => b - a)
            .slice(0, 20); // Take top 20 genres

        const genreData = [{
            x: sortedGenres.map(([genre]) => genre),
            y: sortedGenres.map(([,count]) => count),
            type: 'bar',
            marker: {color: '#00b4db'}
        }];

        const yearCounts = JSON.parse('{{ year_counts|tojson|safe }}');
        const sortedYears = Object.entries(yearCounts)
            .sort(([a], [b]) => Number(a) - Number(b));

        const yearData = [{
            x: sortedYears.map(([year]) => year),
            y: sortedYears.map(([,count]) => count),
            type: 'scatter',
            mode: 'lines+markers',
            line: {color: '#00b4db'}
        }];

        const baseLayout = {
            paper_bgcolor: 'rgba(0,0,0,0)',
            plot_bgcolor: 'rgba(0,0,0,0)',
            font: {color: '#e4e4e4'},
            showgrid: true,
            gridcolor: '#444'
        };

        Plotly.newPlot('ratingPlot', ratingData, {
            ...baseLayout,
            title: 'Rating Distribution',
            margin: {t: 50, r: 30, l: 50, b: 100},
            xaxis: {
                title: 'Rating Range',
                tickangle: -45
            },
            yaxis: {title: 'Number of Reviews'}
        });

        Plotly.newPlot('genrePlot', genreData, {
            ...baseLayout,
            title: 'Top 20 Genres',
            margin: {t: 50, r: 30, l: 50, b: 150},
            xaxis: {
                title: 'Genre',
                tickangle: -45,
                tickfont: { size: 10 }
            },
            yaxis: {title: 'Number of Reviews'}
        });

        Plotly.newPlot('yearPlot', yearData, {
            ...baseLayout,
            title: 'Reviews by Release Year',
            margin: {t: 50, r: 30, l: 50, b: 50},
            xaxis: {
                title: 'Release Year',
                tickangle: -45
            },
            yaxis: {title: 'Number of Reviews'}
        });
    </script>
{% endblock %}